html {
box-sizing: border-box;
}

body{
  margin:0px;

}

*{
  font-family: "open sans", helvetica;
}

nav{
  background-color: #333333;
  width: 100%;
  height: 50px;;
}

nav img{
  height: 22px;
  width: 150px;
  /*float: left;*/
}

nav li {
  display: inline;
  float: left;

}

nav a {
display: inline-block;
padding: 10px;
text-decoration: none;
color: white;
font-size: 18px;
font-family: 'courgette', cursive;
}

#menu{
  width: 1818px;
}

header{
  background-color: #1E93CC;
  width: 100%;
  height: 298px;
}

img{
  height: 223px;
  margin-left: 40px;
  margin-top: 20px;
}
.nuage{
  float:right;
  background-color: #1E93CC;
  margin-right: 677px;
  height: 298px;

}
.nuage img{
  width: 441px;
  height: 90px;
  margin-right: 11px;
}

.nuage p{
  color: white;
  margin-left: 56px;
  font-size: 24px;
  margin-right: 32px;
}

#bouton{
  background-color: #E99002;
  width: 230px;
  height: 61px;
  border-radius: 5px;
  margin-left: 152px;
  border: solid 2px white;

}

#bouton a{
    text-decoration: none;
    color: white;
    padding-left: 23px;
}

#first{
  background-color: #FFFFFF;
  width: 100%;
  height: 57px;;
}

#first p{
  font-size: 24px;
  margin-left: 642px;
  color: black;
}

section{
  background-color: #1E93CC;
  width: 100%;
  height: 298px;
}

#one{
  float: left;
  text-align: justify;
  width: 666px;
  height: 298px;
  margin-left: 209px;
}

#two{
  float: right;
  text-align: justify;
  width: 666px;
  height: 298px;
  margin-right: 155px;

}

section h2, p{
  color:white;
}

#second{
  background-color: #FFFFFF;
  width: 100%;
  height: 57px;
}

#second p{
  color: #8E8498;
  font-size: 24px;
  margin-left: 567px;
}
aside{
  background-color: #EEEEEE;
  width: 100%;
  height: 240px;
}

#third{
  background-color: #FFFFFF;
  width: 100%;
  height: 220px;
  display: flex;
  margin-left: 544px;
  margin-top: 56px;

}

#b1{
  background-color: #165882;
  width: 230px;
  height: 77px;
  border-radius: 10px;
  border: solid 3px white;
}

#b2{
  background-color:#165882;
  width: 230px;
  height: 77px;
  border-radius: 10px;
  border: solid 3px white;
}

#b3{
  background-color: #E99002;
  width: 230px;
  height: 77px;
  border-radius: 10px;
  border: solid 3px white;
  float: right;
}

#third, p{
  color: white;
}

aside img{
  margin-left: 370px;
}


footer{
  background-color: #222222;
  width: 100%;
  height: 50px;
  display: flex;
}

#b4{
  width: 150px;
  height: 50px;
  background-color:  #222222;
  border-right: dotted 2px white;

}

#b5{
  width: 150px;
  height: 50px;
  background-color:  #222222;
  border-right: dotted 2px white;

}

#b6{
  width: 200px;
  height: 50px;
  background-color:  #222222;
  border-right: dotted 2px white;
}

#b7{
  width: 150px;
  height: 50px;
  background-color:  #222222;
  border-right: dotted 2px white;

}

footer, p{
  margin-left: 12px;
}
