html {
box-sizing: border-box;
}

body{
  margin:0px;
}

nav{
  background-color: #333333;
  width: 100%;
  height: 50px;;
}

nav img{
  height: 22px;
  width: 150px;
  float: left;
}

nav li {
display: inline;
float:right;
margin-right: 119px;
}

nav a {
display: inline-block;
padding: 10px;
text-decoration: none;
color: white;
font-size: 24px;
font-family: 'courgette', cursive;
}

header{
  background-color: #1E93CC;
  width: 100%;
  height: 298px;
}

img{
  height: 223px;
  margin-left: 40px;
  margin-top: 20px;
}
.nuage{
  float:right;
  background-color: #1E93CC;
  margin-right: 677px;
  height: 298px;
}
.nuage img{
  width: 441px;
  height: 90px;
  margin-right: 11px;
}

.nuage p{
  color: white;
  margin-left: 56px;
  font-size: 24px;
  margin-right: 32px;
}

#bouton{
  background-color: #E99002;
  width: 230px;
  height: 61px;
  border-radius: 5px;
  margin-left: 152px;
  border: solid 2px white;

}

#bouton a{
    text-decoration: none;
    color: white;
    padding-left: 23px;
}

#first{
  background-color: #FFFFFF;
  width: 100%;
  height: 57px;;
}

#first p{
  font-size: 24px;
  margin-left: 648px;
  color: black;
}

section{
  background-color: #1E93CC;
  width: 100%;
  height: 298px;
}

#one{
  float: left;
  text-align: justify;
  width: 666px;
  height: 298px;
  margin-left: 209px;
}

#two{
  float: right;
  text-align: justify;
  width: 666px;
  height: 298px;
  margin-right: 240px;
}

section h2, p{
  color:white;
}

#second{
  background-color: #FFFFFF;
  width: 100%;
  height: 57px;
}

#second p{
  color: #8E8498;
  font-size: 24px;
  margin-left: 624px;
}
aside{
  background-color: #EEEEEE;
  width: 100%;
  height: 240px;
}

#third{
  background-color: #FFFFFF;
  width: 100%;
  height: 220px;
  text-align: center;
  display: inline;
}

#b1{
  background-color: #165882;
  width: 230px;
  height: 61px;
  border-radius: 5px;
  border: solid 2px white;
}

#b2{
  background-color:#165882;
  width: 230px;
  height: 61px;
  border-radius: 5px;
  border: solid 2px white;
}

#b3{
  background-color: #E99002;
  width: 230px;
  height: 61px;
  border-radius: 5px;
  border: solid 2px white;
  float: right;
}

aldemaran


footer{
  background-color: #333333;
  width: 100%;
  height: 50px;
}
